@model WebApp002.Models.EventsAndMenus

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UseAPartialViewl</title>
</head>
<body>
    <div> 
        
    </div>
</body>
</html>
